
    <div class="body">
      <mat-tab-group
        dynamicHeight
      >
        <mat-tab label="Cards">
          <br />
          <div class="search-bar">
            <button
              matIconButton
              class="menu-icon icon"
              aria-label="Search"
              matTooltip="Search by name"
            >
              <mat-icon>search</mat-icon>
            </button>
            <mat-form-field class="search-form">
              <mat-label>Search</mat-label>
              <input matInput>
            </mat-form-field>
            <button
              matIconButton
              class="menu-icon icon"
              aria-label="Filter"
              matTooltip="Filter by types"
            >
              <mat-icon>filter_alt</mat-icon>
            </button>
          </div>
          <br />

        <plp-card
            cardName="Artificer"
        ></plp-card>


        </mat-tab>
        <mat-tab label="Decks">

        </mat-tab>
        <mat-tab label="Account">
          <br>

          @if (isLoggedIn()) {
            <p>Welcome, {{ user().username }}!</p>
          } @else {
            @if (loginTab() == 0){
              <h2 style="text-align: center">Log In</h2>
              <form class="login-form form" [formGroup]="profileForm" (ngSubmit)="loginHandler()">
              <label>
                <span>Username</span>
                <input id="name" type="text" required formControlName="username">
              </label>
              <label>
                <span>Password</span>
                <input id="name" type="text" required formControlName="password">
              </label>
              <div style="display: flex; gap: 1rem;">
                <button
                  matButton="filled"
                  type="submit"
                >Login</button>
                <button
                  matButton="tonal"
                  (click)="swapTab(1)"
                  type="button"
                >Sign Up</button>
              </div>

            </form>
            } @else {
              <form class="register-form form" [formGroup]="profileForm" (ngSubmit)="loginHandler()">
                <h2 style="text-align: center">Register</h2>
                <label>
                  <span>Username</span>
                  <input id="name" type="text" required formControlName="username">
                </label>
                <label>
                  <span>Password</span>
                  <input id="name" type="text" required formControlName="password">
                </label>
                <div style="display: flex; gap: 1rem;">
                  <button
                    matButton="outlined"
                    type="button"
                    (click)="swapTab(0)"
                  >Go Back</button>
                  <button
                    matButton="filled"
                    type="submit"
                  >Register</button>
                </div>

              </form>
            }

          }

        </mat-tab>

        <mat-tab label="Create" disabled={{!isLoggedIn()}} >
          CHECK HERE
        </mat-tab>
      </mat-tab-group>
    </div>
    