/* You can add global styles to this file, and also import other style files */

.body {
  width: 100%; overflow-y: auto;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

.content {
  padding: 1rem;
}

.search-bar {
  display: flex; gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.search-form {
  width: calc(100% - 100px - 6rem);
}
.search-bar > .icon {
  margin-bottom: 1rem;
}


.form {
  display: flex; flex-direction: column; gap: 1rem;
  min-width: 350px; width: 70%;
  margin: 0 auto;
}
.form > label {
  display: flex; flex-direction: column; gap: 0.5rem;
}
.form > label > span {
  font-weight: bold;
}
.form input {
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem; border: 1px solid #ccc;
}
.form > button {
  width: fit-content;
  background-color: white;
}


.dom-card-container {
    border: 2px solid #dfdfdf;
    padding: 0.5rem;
    border-radius: 0.5rem;

    display: flex; flex-direction: column; gap: 0.5rem;

    width: 222px;
    height: 320px;
    background-color: white;
}
.dom-card-container > .name {
  font-size: 1.25rem;
  font-weight: bolder;
}
.dom-card-container > .exp {
  font-size: 1.1rem;
}
.dom-card-container > .cost {
  font-size: 0.8rem;
}
.dom-card-container > .desc {
  font-style: italic;
}
